*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #0f1433;
    min-height: 100vh;
    align-content: center;
    padding-bottom: 20px;
}
.header{
    display: flex;
    align-content: center;
    justify-content: space-around;
    height: 60px;
    width: 100%;
    background-color: #000;
    color: rgb(0, 0, 0);
    z-index: 100;
    a{
        height: 55px;
        width: 288px;
    }
    @media print{
        display: none;
    }
    div{
        height: fit-content;
        align-self: center;
        button{
            margin-left: 30px;
            background: transparent;
            color: #fff;
            border: 6px solid transparent;
            border-radius: 5px;
            font-size: 1.2rem;
            height: 20px;
            padding-bottom: 22px;
            &:hover{
                border-bottom: 6px solid #527eef;
                transition-duration: .4s;
            }
        }
    }
}
.contenedorPieHeader{
    min-height: 40px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #527eef;
    padding: 10px 0px;
    font-family: sans-serif;
    color: #fff;
    justify-content: center;
}
.contenedoresInicio{
    cursor: pointer;
    margin: 20px;
    display: flex;
    aspect-ratio: 9/3;
    align-self: center;
    width: 70%;
    height: auto;
    background-color: #323d85;
    border-radius: 20px;
    justify-content: center;
    h1{
        font-size: 60px;
        text-align: center;
        justify-self: center;
        align-self: center;
        font-family: sans-serif;
        color: #fff;
        -webkit-text-stroke: 4px black;
    }
}
.contenedorTienda{
    background-image: url(../img/shop.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.contenedorEventos{
    background-image: url(../img/cronometro.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.headerTienda{
    justify-content: space-around;
}
.carritoBTN{
    justify-self: flex-end;
    width: 40px;
    height: 40px;
    border: none;
    background: transparent;
    background-size: cover;
    background-repeat: no-repeat;
}
.carritoVacio{
    background-image: url(../img/carrito.png);
}
.carritoLLeno{
    background-image: url(../img/carritoLleno.png);
}
.bodyTable{
    justify-content: center;
    align-content: flex-start;
    display: flex;
    width: 100%;
    min-height: 90vh;
}
.table{
    display: flex;
    flex-wrap: wrap;
    color: black;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-top: 10px;
    width: 80%;
    justify-self: center;
    height: 20px;
    tr{
    justify-self: center;
    justify-content: space-around;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    @media print{
        font-size: 9px;
        color: black!important;
    }
        th{
            width: 10%;
            color: #527eef;
            border: 2px solid #527eef;
            padding: .5em;
        }
        td{
            padding: .5em;
            border: 2px solid #527eef;
            color: #fff;
            &.nadador{
                width: 65%;
            }
            &.tiempo{
                width: 14%;
                text-align: center;
            }
        }
    }
}
.barraExportarExcel{
    display: flex;
    width: 100%;
    justify-content: center;
    input{
        justify-self: center;
        max-height: 2em;
        background-color: #000;
        border: 2px solid #323d85;
        border-radius: 20px;
        color: #fff;
        padding: 5px;
        transition: .5s;
        &:hover{
            background-color: #527eef;
            color: #fff;
        }
    }
}
.contenedorEvento{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    width: 100%;
    background-color: #323d85;
    justify-content: center;
    @media print{
        display: none;
    }
    input{
        width: 30%;
        background-color: black;
        border: 2px solid white; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: white;
        margin: 0px 5px;
        height: 2em;
    }
    .boton{
        width: 10%;
        background-color: black;
        border: 2px solid ; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: white;
        margin: 0px 5px;
        height: 3em;
        @media all and (max-width: 670px){
            width: 80%;
            margin-top: 6px;
        }
        &:hover{
            background-color: #323d85;
            color: white;
        }
    }
}
.carrera{
    display:flex;
    width: 100%;
    background-color: black;
    margin: 15px 0px;
    color: white;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.3rem;
    padding: 20px 0px;
    @media print{
        font-size: 16px;
        color: black;
    }
}
.menuCompetidoresDesplegado{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: black;
    padding: 20px;
    @media print{
        display: none;
    }
    button{
        width: 10%;
        background-color: black;
        border: 2px solid white; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: white;
        margin: 0px 5px;
        height: 2.8em;
        @media all and (max-width: 670px){
            width: 80%;
            margin-top: 6px;
        }
        &:hover{
            background-color: #323d85;
            color: white;
        }
    }
    input{
        background-color: black;
        border: 2px solid white; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: white;
        margin: 0px 1px;
        height: 1.5em;
    }
    .posicion{
        width: 4%;
        text-align: center;
    }
    .nombre{
        width: 35%;
    }
    .tiempo{
        width: 10%;
    }
}
.barraInferior{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    height: 30px;
    background-color: black;
    color: lightgrey;
    @media print{
        display: none;
    }
    .boton{
        margin-left: 5px;
        height: 30px;
        width: 30px;
        background-color: black;
        border: 2px solid white;
        border-radius: 25px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        &.dkmode{
            background-image: url(../img/luna.svg);
        }
        &.lgmode{
            background-image: url(../img/sol-gris.svg);
        }
        &.print{
            width: auto;
            padding: 0px .5em;
            background-color: black;
            color: white;
        }
    }
}
.swal2-styled.swal2-confirm{
    background-color: #000!important;
}
.swal2-popup{
    font-family: sans-serif!important;
    color: #ffff!important;
    background-color: #0f1433!important;
}
#productosImpresos{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    width: 90%;
    align-self: center;
}
.tarjetaProducto{    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    width: 20%;
    background-color: #0f1433;
    border: 2px solid #527eef;
    border-radius: 20px;
    margin-top: 20px;
    justify-content: center;
    .descripcionOculta{
        display: none;
    }
    .imgProducto{
        cursor: pointer;
        width: 95%;
        img{
            aspect-ratio: 1 / 1;
            width: 100%;
            height: auto;
            max-height: fit-content;
        }
    }
    .contenedorPrecio{
        display: flex;
        width: 100%;
        font-family: sans-serif;
        justify-content: center;
        p{
            display: inline-block;
            font-size: 1.3rem;
            color: #527eef;
            padding: 0 .2em;
        }
        h3{
            text-align: center;
            color: #527eef;
            font-family: sans-serif;
            font-size: 1.3rem;
            margin-bottom: 20px;
        }
    }
    h1{
        width: 100%;
        padding: 10px;
        text-align: center;
        color: #fff;
        font-family: sans-serif;
        font-size: 1.5rem;
    }
    button{
        cursor: pointer;
        max-height: 2em;
        background-color: #0f1433;
        border: 2px solid #527eef;
        border-radius: 20px;
        color: #fff;
        padding: 5px;
        transition: .5s;
        &:hover{
            background-color: #527eef;
            color: #fff;
        }
    }
}

.carrito{
    display: none;
    position: absolute;
    top: 60px;
    right: 0px;
    width:70vw;
    background-color: #000;
    border: 5px solid #527eef;
    border-radius: 0px 0px 20px 20px;
    z-index: 20;
    transition: all 500ms linear;
    transition-duration: 1.2s;
    header{
        display: flex;
        justify-content: space-between;
        padding: 0px 20px;
        height: 60px;
        width: 100%;
        background-color: #527eef;
        width: 100%;
        p{
            align-self: center;
            display: inline-block;
            font-family: sans-serif;
            color: #fff;
            font-size: 1.6rem;
        }
        .carritoCerrar{
            background-image: url(../img/carritoCerrar.png) ;
            align-self: center;
        }
    }
    #bodyCarrito{
        min-height: 80vh;
        width: 100%;
        align-content: flex-start;
        display: flex;
        flex-wrap: wrap;
        .productoCarrito{
            display: inline-flex;
            justify-content: space-between;
            width: 100%;
            height: 50px;
            padding: .5em;
            background-color: #0f1433;
            border: 2px solid #527eef;
            margin: .5em;
            .imagenProductoCarrito{
                height: 100%;
                aspect-ratio: 1 / 1;
                border: 1px solid #527eef;
                border-radius: 70px;
                background-color: #fff;
                width: auto;
                align-self: center;
            }
            .nombreProductoCarrito{
                width: 40%;
            }
            .cantidadProductoCarrito{
                display: inline-block;
                width: 20%;
                align-self: center;
            }
            .totalPrecioProductoCarrito{
                width: 20%;
            }
            p{
                display: inline-block;
                font-family: sans-serif;
                font-size: 1rem;
                color: #fff;
                align-self: center;
            }
            button{
                cursor: pointer;
                margin: 0 .5em;
                width: 20px;
                height: 20px;
                align-self: center;
                border-radius: 20px;
                background-color: #527eef;
            }
            .eliminarProductoCarrito{
                background-color: red;
                color: #fff;
            }
        }
    }
}
footer{
    display: flex;
    flex-wrap: wrap;
    height: 60px;
    background-color: #527eef;
    width: 100%;
    justify-content: space-around;
    align-content: center;
    font-family: sans-serif;
    color: #fff;
    div{
        align-self: center;
        display: flex;
        width: 70%;
        justify-content: space-between;
        font-size: 1.2rem;
    }
    button{
        cursor: pointer;
        align-self: center;
        padding: .5em;
        align-self: center;
        border-radius: 20px;
    }
    #vaciarCarrito{
        margin-right: 4px;
        background-color: rgba($color: #fff, $alpha: .3);
        color: #fff;
        border-color: #fff;
    }
}
.carritoDesplegado{
display: flex;
flex-wrap: wrap;
right: 0px;
min-height: 80vh;
align-content: flex-start;
}