* {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: black;
  min-height: 90vh;
  align-content: center;
}

.header {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 60px;
  width: 100%;
  background-color: black;
  color: rgb(0, 0, 0);
}
.header a {
  height: 55px;
  width: 288px;
}

.table {
  display: grid;
  grid-template-columns: repeat(1, 12);
  color: white;
  font-size: 1.5rem;
  font-family: sans-serif;
  margin-top: 10px;
  width: 80%;
  justify-self: center;
  align-self: center;
}
.table tbody {
  grid-column: 1, 13;
  width: 100%;
  border: 2px solid black;
  padding: 8px;
}
.table tbody th {
  color: orangered;
  border: 2px solid orangered;
  padding: 0.5em;
  width: 10%;
}
.table tbody td {
  padding: 0.5em;
  border: 2px solid orangered;
}
.table tbody td.nadador {
  width: 70%;
}
.table tbody td.tiempo {
  width: 20%;
  text-align: center;
}

.barraBotones {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0px;
  width: 100%;
  background-color: orangered;
  justify-content: space-around;
}
.barraBotones .boton {
  width: 20%;
  background-color: black;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px;
  font-family: sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: white;
}
@media all and (max-width: 670px) {
  .barraBotones .boton {
    width: 80%;
    margin-top: 6px;
  }
}
.barraBotones .boton:hover {
  background-color: orangered;
  color: black;
  border-color: black;
}

.carrera {
  display: flex;
  width: 100%;
  background-color: orangered;
  margin: 15px 0px;
  color: white;
  justify-content: center;
  font-family: sans-serif;
  font-size: 1.3rem;
  padding: 20px 0px;
}

.barraInferior {
  display: flex;
  justify-content: flex-end;
  padding: 5px;
  height: 30px;
  background-color: orangered;
  color: black;
}
.barraInferior .boton {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  background-color: black;
  border: 2px solid white;
  border-radius: 25px;
  background-size: 30px 30px;
  background-repeat: no-repeat;
}
.barraInferior .boton.dkmode {
  background-image: url(../img/luna.svg);
}
.barraInferior .boton.lgmode {
  background-image: url(../img/sol-gris.svg);
}