*{
    margin: 0;
    padding: 0;
}
.body{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #ffff;
    min-height: 100vh;
    align-content: center;
    padding-bottom: 20px;
}
.header{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 60px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    a{
        height: 55px;
        width: 288px;
    }
    @media print{
        display: none;
    }
}
.table{
    display: grid;
    grid-template-columns: repeat(1,12);
    color: black;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-top: 10px;
    width: 80%;
    justify-self: center;
    align-self: center;
    tbody{
    grid-column: 1,13;
    width: 100%;
    border: 2px solid black;
    padding: 8px;
    @media print{
        font-size: 9px;
        color: black!important;
    }
        th{
            color: #527eef;
            border: 2px solid #527eef;
            padding: .5em;
            width: 10%;
        }
        td{
            padding: .5em;
            border: 2px solid #527eef;
            color: #323d85;
            &.nadador{
                width: 70%;
            }
            &.tiempo{
                width: 20%;
                text-align: center;
            }
        }
    }
}
.contenedorEvento{
    display: flex;
    flex-wrap: wrap;
    padding: 10px 0px;
    width: 100%;
    background-color: #527eef;
    justify-content: center;
    @media print{
        display: none;
    }
    input{
        width: 30%;
        background-color: white;
        border: 2px solid #323d85; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: #323d85;
        margin: 0px 5px;
        height: 2em;
    }
    .boton{
        width: 10%;
        background-color: white;
        border: 2px solid ; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: #323d85;
        margin: 0px 5px;
        height: 3em;
        @media all and (max-width: 670px){
            width: 80%;
            margin-top: 6px;
        }
        &:hover{
            background-color: #323d85;
            color: white;
        }
    }
}
.carrera{
    display:flex;
    width: 100%;
    background-color: lightgray;
    margin: 15px 0px;
    color: black;
    justify-content: center;
    font-family: sans-serif;
    font-size: 1.3rem;
    padding: 20px 0px;
    @media print{
        font-size: 16px;
        color: black;
    }
}
.menuCompetidoresDesplegado{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    background-color: #323d85;
    padding: 20px;
    @media print{
        display: none;
    }
    button{
        width: 10%;
        background-color: white;
        border: 2px solid ; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: #323d85;
        margin: 0px 5px;
        height: 2.8em;
        @media all and (max-width: 670px){
            width: 80%;
            margin-top: 6px;
        }
        &:hover{
            background-color: #323d85;
            color: white;
        }
    }
    input{
        background-color: white;
        border: 2px solid #323d85; 
        border-radius: 10px;
        padding: 5px;
        font-family: sans-serif;
        font-size: .8rem;
        font-weight: 300;
        color: #323d85;
        margin: 0px 1px;
        height: 1.5em;
    }
    .posicion{
        width: 4%;
        text-align: center;
    }
    .nombre{
        width: 35%;
    }
    .tiempo{
        width: 10%;
    }
}
.barraInferior{
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    height: 30px;
    background-color: lightgrey;
    color: black;
    @media print{
        display: none;
    }
    .boton{
        margin-left: 5px;
        height: 30px;
        width: 30px;
        background-color: #ffff;
        border: 2px solid black;
        border-radius: 25px;
        background-size: 30px 30px;
        background-repeat: no-repeat;
        &.dkmode{
            background-image: url(../img/luna-gris.svg);
        }
        &.lgmode{
            background-image: url(../img/sol.svg);
        }
        &.print{
            width: auto;
            padding: 0px .5em;
            background-color: #ffff;
        }
    }
}
.swal2-styled.swal2-confirm{
        background-color: #527eef!important;
}
.swal2-popup{
    font-family: sans-serif!important;
    color: #323d85!important;
}